.await-layer {
	z-index:3000; 
	background-color:#000000; 
	opacity:0.4; 
	-moz-opacity:0.4; 
	filter:alpha(opacity=80);
    position: fixed;
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
}
.main-layer{
    transition: all ease 1.7s;
}
.main-layer.blured {
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px)
}

    .await-layer.ng-enter, 
    .await-layer.ng-leave {
        transition: all linear 0.7s;
    }

    .await-layer.ng-enter,
    .await-layer.ng-leave.ng-leave-active {
        opacity:0;
        -moz-opacity:0; 
	    filter:alpha(opacity=0);
    }

    .await-layer.ng-leave,
    .await-layer.ng-enter.ng-enter-active {
	    opacity:0.4; 
	    -moz-opacity:0.4; 
	    filter:alpha(opacity=80);
    }

.floatingBarsIndicator{
	width:42px;
	height:52px;
	margin:auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:7px;
	height:16px;
	border-radius:5px 5px 0 0;
		-o-border-radius:5px 5px 0 0;
		-ms-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:0.522s;
		-o-animation-duration:0.522s;
		-ms-animation-duration:0.522s;
		-webkit-animation-duration:0.522s;
		-moz-animation-duration:0.522s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:19px;
	animation-delay:0.1995s;
		-o-animation-delay:0.1995s;
		-ms-animation-delay:0.1995s;
		-webkit-animation-delay:0.1995s;
		-moz-animation-delay:0.1995s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:5px;
	top:7px;
	animation-delay:0.256s;
		-o-animation-delay:0.256s;
		-ms-animation-delay:0.256s;
		-webkit-animation-delay:0.256s;
		-moz-animation-delay:0.256s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:18px;
	top:2px;
	animation-delay:0.3225s;
		-o-animation-delay:0.3225s;
		-ms-animation-delay:0.3225s;
		-webkit-animation-delay:0.3225s;
		-moz-animation-delay:0.3225s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:5px;
	top:7px;
	animation-delay:0.389s;
		-o-animation-delay:0.389s;
		-ms-animation-delay:0.389s;
		-webkit-animation-delay:0.389s;
		-moz-animation-delay:0.389s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:19px;
	animation-delay:0.4555s;
		-o-animation-delay:0.4555s;
		-ms-animation-delay:0.4555s;
		-webkit-animation-delay:0.4555s;
		-moz-animation-delay:0.4555s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:5px;
	bottom:5px;
	animation-delay:0.522s;
		-o-animation-delay:0.522s;
		-ms-animation-delay:0.522s;
		-webkit-animation-delay:0.522s;
		-moz-animation-delay:0.522s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:18px;
	animation-delay:0.5885s;
		-o-animation-delay:0.5885s;
		-ms-animation-delay:0.5885s;
		-webkit-animation-delay:0.5885s;
		-moz-animation-delay:0.5885s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:5px;
	bottom:5px;
	animation-delay:0.645s;
		-o-animation-delay:0.645s;
		-ms-animation-delay:0.645s;
		-webkit-animation-delay:0.645s;
		-moz-animation-delay:0.645s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
