    /*Angular Animations*/

        .ngan-fade-slw.ng-enter, 
        .ngan-fade-slw.ng-leave {
          transition: all 1.5s;
        }

        .ngan-hold-pos.ng-enter,
        .ngan-hold-pos.ng-leave.ng-leave-active {
            position:absolute
        }

        .ngan-hold-pos.ng-leave,
        .ngan-hold-pos.ng-enter.ng-enter-active {
            position:initial;
            z-index:3000;
        }

        .ngan-fade-mid.ng-enter, 
        .ngan-fade-mid.ng-leave {
          transition: all 0.7s;
        }

        .ngan-fade-fst.ng-enter, 
        .ngan-fade-fst.ng-leave {
          transition: all 0.3s;
        }

        .ngan-fade-fst.ng-enter,
        .ngan-fade-fst.ng-leave.ng-leave-active,
        .ngan-fade-slw.ng-enter,
        .ngan-fade-slw.ng-leave.ng-leave-active,
        .ngan-fade-mid.ng-enter,
        .ngan-fade-mid.ng-leave.ng-leave-active {
          opacity:0;
        }
   
        .ngan-fade-fst.ng-leave,
        .ngan-fade-fst.ng-enter.ng-enter-active, 
        .ngan-fade-slw.ng-leave,
        .ngan-fade-slw.ng-enter.ng-enter-active,
        .ngan-fade-mid.ng-leave,
        .ngan-fade-mid.ng-enter.ng-enter-active {
          opacity:1;
        }

        .foldable{
            transition: transform ease 1s,height ease 1s;
            -webkit-transform-origin: top;
            height: 100%;
            transform-style: preserve-3d;
            transform-origin: top;
        }

        .foldable.ng-leave,
        .foldable.ng-enter.ng-enter-active
        {
            -webkit-transform: rotateX(0deg);
            transform:rotateX(0deg);
            height: 100%
        }
        .foldable.ng-enter,
        .foldable.ng-leave.ng-leave-active
        {
            -webkit-transform: rotateX(-90deg);
            transform:rotateX(-90deg);
            height: 1px
        }

    
    /*NOTIFICATION*/

        .notification{
            min-height: 50px;
            /*border: 1px solid;*/
            /*border-color: rgba(0, 0, 0, 0.1);*/
            z-index: 10000;
            /* margin-top: 20px; */
            margin-bottom: 20px;
            cursor: pointer;
            box-shadow: 0 7px 10px 0 rgba(0,0,0,0.15), 0 0 10px 0 rgba(0,0,0,0.1);
        }
        .notification.notification-info .notification-glyphicon{
            
        }
        .notification.notification-error .notification-glyphicon{
            color: orangered
        }
        .notification.notification-alert .notification-glyphicon{
            color: yellow
        }
        .notification.notification-info{
            background-color: #272727;
            opacity: 0.95;
        }
        .notification.notification-error{
            background-color: #272727;
            opacity: 0.95;
        }
        .notification.notification-alert{
            background-color: #272727;
            opacity: 0.95;  
        }
        .notification-text {
            padding: 10px 20px;
            font-size: 14px;
        }
        .notification-text .notification-header{
            font-size: 17px;
        }
        .notification-container{
            position: fixed;
            left: 0;
            top: 50px;
            z-index: 10000;
        }
        @media (max-width: 768px) {
            .notification{
                width: 80vw;
                margin-left:10vw;
                margin-right:10vw;
            }   
        }
        @media (min-width: 768px) {
            .notification{
                width: 25vw;
                margin-left:1vw;
            } 
        }


    /*@* Page Styles *@*/

        body {
            margin: 0;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            color: #c7c7c7;
            background: #2f2f2f
        }

        .main-container {
            max-width:1600px; 
            margin:auto;
            background: #222222;
            min-height: 100vh;
        }

        @media (min-width: 1700px) {
            .main-container {
                position: relative;
                top: 5vh;
                min-height: 90vh;
                margin-bottom: 5vh;
                box-shadow: 0 0 50px rgba(0,0,0,0.8);
            }
        }

        ::-webkit-scrollbar
        {
          width: 6px;  /* for vertical scrollbars */
          height: 6px; /* for horizontal scrollbars */
        }

        ::-webkit-scrollbar-track
        {
          background: rgba(0, 0, 0, 0.1);
        }

        ::-webkit-scrollbar-thumb
        {
          background: rgba(0, 0, 0, 0.2);
        }

        .clearfix:before,
        .clearfix:after {
            content: '\0020';
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }

        .rotable {
            transition: all ease 0.5s
        }

        .rotable.turn90{
            transform: rotate(90deg)
        }

/*LAYOUT-PADDINGS*/
        .no-padding{
            padding:0
        }
        .padd-hor-t{
            padding-left:2px;
            padding-right:2px
        }
/*LAYOUT*/

        .main-block {
            padding: 20px;
            padding-left: 70px;
        }

        .main-block:first-of-type {
            padding-left: 40px;
        }

        .sub-block{
            padding: 10px;
        }

        .float-right {
            float: right;
        }

        .main-block.bot-bord{
            border-bottom: 1px solid #333333
        }

        .bot-bord{
            border-bottom: 1px solid #333333
        }

        .top-bord{
            border-top: 1px solid #333333
        }

        .main-block.unfolded {
            padding-bottom:0px;
        }

        .main-block > .unfold-block {
            margin-left:7px;
            padding: 10px;
            padding-left: 18px;
            border-left: 1px solid #333333;
            padding-bottom:20px;
        }

        .unfold-block{ 
          transition: all ease 0.7s;
          overflow: hidden;
        }

        .unfold-block.ng-enter,
        .unfold-block.ng-leave.ng-leave-active
        {
            padding-bottom:0px;
            padding-top:0px;
            height: 0px;
        }

        .unfold-block.ng-leave,
        .unfold-block.ng-enter.ng-enter-active
        {
            padding-bottom:20px;
            padding-top:10px;
            height: 400px;
        }

        .unfold-block:not(.ng-leave):not(.ng-enter){
            min-height:400px;
        }



        .editor-container .editor-container-sub > *:not(.nolayout),
        .editor-container > *:not(.nolayout) ,
        .editor-container .ineditor{
            padding: 7px 0
        }


        .editor-container .item-row{
            padding-bottom: 0;
        }

        .item-row{
            padding-left: 10px;
            padding-right: 10px;
            border-left: 1px solid #333333;
        }

        .item-row > *:not(:first-child){
            /*background-color:rebeccapurple*/
            padding-left:20px
        }

        .enum-container > * {
            padding: 3px 0
        }

        .unfold-block-mini {
            margin-left:7px;
            padding: 10px;
            /*padding-left: 18px;*/
            border-left: 1px solid #333333;
        }

        .bounded-block-m{
            max-height: 470px;
            overflow-x: auto;
        }
        .bounded-block-b{
            max-height: 570px;
            overflow-x: auto;
        }

/*TEXT*/

        .txt-s-huge {
            font-size: 28px;
        }
        .txt-s-big {
            font-size: 20px;
        }
        .txt-s-med {
            font-size: 18px;
        }

        .txt-s-small {
            font-size: 11px;
        }

        .txt-c-base{
            color: #c7c7c7
        }
        .txt-c-gr{
            color: #878787
        }
        .txt-c-grmore{
            color: #676767
        }
        .txt-c-blue {
            color: #428bca
        }
        .txt-c-red {
            color: #c20c0c
        }
        .txt-c-green {
            color: #3a823b
        }



        .txt-accent{
            text-decoration:underline
        }
        .txt-c-gr.txt-accent{
            color: #c7c7c7;
        }
        .txt-anim{
            transition: all ease 0.7s
        }
/*INPUTS*/
        .txtinput {
            background: inherit;
            border: none;
            /*border-bottom: 1px solid #878787;*/
            border-bottom: 1px solid rgba(135, 135, 135, 0.00);
            color: #c7c7c7;
            padding: 0;
            transition: all ease 0.7s;
            line-height: 1;
        }

        .txtinput-big {
            background: inherit;
            border: none;
            border-bottom: 1px solid rgba(135, 135, 135, 0.00);
            color: #c7c7c7;
            padding: 0;
            transition: all ease 0.7s;
            line-height: 1;
        }

        .txtarea:focus,
        .txtinput:focus,
        .txtinput-big:focus
        {
            outline:none
        }

        .txtinput-big:focus,
        .txtinput:focus{
            border-bottom: 1px solid #c7c7c7;
            color: white
        }

        .txtarea:focus {
            background-color: white;
        }

        .txtarea {
            background-color: #d3d3d3;
            border-radius: 5px;
            border: none;
            transition: background-color ease 0.7s;
            padding: 10px
        }

        .selector{
            background: #222222;
            border: none;
            color: #c7c7c7;
        }
        .filter-expr .selector{
            width: 12%
        }
        .filter-expr .txtinput{
            width: 40%

        }
        .filter-expr.first .txtinput {
            width: 42.2%;
        }

        .filter-row .filter-expr{
            padding-left: 20px;
        }
        .filter-row .filter-expr.first{
            padding-left: 40px;
        }

        .filter-row hr,
        .filter-row hr.lite
        {
            margin-bottom: 0
        }

        input[type="checkbox"].checkbox{
            margin: 0;
            display: inline-block
        }
/*CLICKABLE*/
        .clickable:hover{
            cursor:pointer
        }
        .asimple {
            color: inherit
        }
        .asimple:focus, .asimple:hover, .asimple:visited{
            color: inherit;
        }
        .asimple:focus, .asimple:hover, .asimple:visited,
        .iconclick:focus, .iconclick:hover, .iconclick:visited
        {
            text-decoration:none;
        }

        .iconclick{
            transition: all ease 0.5s;
        }

        .iconclick:not(.txt-c-gr):not(.txt-c-grmore):not(.txt-c-blue):not(.txt-c-green)
        {
            color: inherit;
        }

        .iconclick:not(.txt-c-gr):not(.txt-c-grmore):not(.txt-c-blue):not(.txt-c-green):hover,
        .iconclick:hover{
            cursor:pointer;
            color:#c7c7c7    
        }

        .abut {
            color: #878787;
            border: 1px solid #484848;
            padding: 7px 20px;
            transition: all ease 0.7s;
        }
        .abut:hover, .abut:focus{
            text-decoration: none
        }
        .abut:hover{
            cursor:pointer;
            color: #c7c7c7;
            border: 1px solid #6d6d6d;
        }

/*HIGHLIGHT*/
        .txt-c-gr.hover-highlight:hover{
            color: #c7c7c7;
        }
        .txt-c-grmore.hover-highlight:hover{
            color: #c7c7c7;
        }
        .txt-c-green.hover-highlight:hover{
            color: #c7c7c7;
        }
        .txt-c-blue.hover-highlight:hover{
            color: #c7c7c7;
        }

/*OTHER*/
        .controlbox{
            padding: 10px;
            width:100%;
            border: 1px solid;
            margin-bottom: 5px;
            display: inline-block;
            text-align: center;
            border-color: #2f2f2f;
            color: #424242;
            transition: all ease 0.7s;
        }

        .hover-closer{
            transform-style: preserve-3d;
            transition: all ease 0.7s;
        }

        .hover-closer:hover{
            color: #585858;
            border-color: #3e3e3e;
            -webkit-transform: /*rotateY(2deg)*/ rotateX(10deg);
            transform: /*rotateY(2deg)*/ rotateX(10deg);
            box-shadow: 0 20px 20px rgba(0,0,0,0.07);
        }

        .controlbox.drag-over{
            color: #c7c7c7;
            border-color: #525252;
        }

        .item-row.invalid{
            border-left: 1px solid red;
        }

        hr.lite{
            margin: 10px 0;
            border-color: #333333;
        }

        .perspective-cont{
            perspective: 1000px
        }

        .recepientkey.drag-over{
            color: white
        }

        .reset-pre{
            display: block; 
            padding: 0;
            margin: 0;
            font-size: inherit; 
            font-family: inherit;
            line-height: 1.428571429; 
            color: inherit;
            word-break: inherit;
            word-wrap: inherit; 
            background-color: inherit; 
            border: none;
            border-radius: 0;

        }

        .sched-mini{
            border: 1px solid #464646;
            padding: 10px;
            margin: 5px;
        }

        .settings-window{
            position:fixed;
            top:10%;
            left:10%;
            width:80%;
            height:80%;
            background: #222222;
            border: 1px solid #878787;
            padding: 30px;
            z-index:5;
        }

        .row {
            margin-left:initial;
            margin-right:initial

        }

