body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*direction:rtl;*/
    height: 100% !important;
    color: #bbb !important;
    background-color: #222 !important;
}
html
{
    /*direction:rtl;*/
     height: 100%;
}

div.request{
      background-color: yellow;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100% - 40px - 20px);
    position: relative;
    max-width: none;
    overflow-y : auto;
    overflow-x : hidden;
}

body div.navbar {
    /*max-height: 70px;*/
    /*overflow: hidden;*/
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #aaa;
}

ul.dropdown-menu {
    color: #999;
    background-color: #222;
}

.dropdown-menu>li>a {
    color: #999;
}

footer p {
    text-align: center;
}

footer hr {
    margin: 10px 0 10px 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label{
        direction:rtl;
        width:180px;
}

tr td span{
      font-size:13px;
        direction:rtl ;
        text-align:right;
}

tr  th {
      font-size:15px;
        direction:rtl ;
        text-align:right;
}

.AdminloginForm {
    margin:0 auto;
    outline: 1px solid;
    left: 50%;
    top: 50%;
    padding:10px;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.AdminloginForm .check-box{
    width: 18px;
    height: 18px;
    line-height: 18px;
    top: 3px;
    border: 2px solid #37a000;
} 

#dBusesTable {
    height: calc(100% - 50px - 65px);
}

hr.hr-thin {
    margin: 5px 0 5px 0;
}


.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 1px silver solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}
  
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

#wrapper.active #sidebar-wrapper {
    left: 50px;
}

td.ui-search-input > select {
    width: 100%;
}


div.jqgrid-extended .ui-state-highlight{
     border:none!important;
    background:none!important;
}

form.FormGrid table.EditTable td.DataTD input,
form.FormGrid table.EditTable td.DataTD select{
    border: 1px #999 solid;
    border-radius: 5px;
}

div#ui-datepicker-div.ui-datepicker, div#calendar-datepicker > div.ui-datepicker {
    border: 1px #999 solid;
    /*background:#000 !important;*/
    z-index: 9999 !important;   
}

.ui-slider, 
.ui-slider .ui-slider-handle {
    border: 1px #999 solid;
}


/* Scrollbar */ 
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-thumb{background-color:#555; border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:#999;}
::-webkit-scrollbar-track{background-color:#222;}
/* End Scrollbar */


.ui-jqgrid tr.ui-row-ltr td {
    text-align:left;
    border-right-width: 1px;
     border-right-color: #999 !important;
      border-right-style: solid;
}
.ui-jqgrid tr.ui-row-rtl td {
    text-align:right;
    border-left-width: 1px;
     border-left-color: #999 !important;
      border-left-style: solid;
}
